<html lang="zh-cn">
<body>
<meta charset="UTF-8">
<div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
    <div style="width: 600px; height: 420px; background: linear-gradient(30deg, #5f27d2, #a141e3); color: #eee; border-radius: 10px; box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); padding: 10px 25px; display: flex; flex-direction: column">
        <div style="border-bottom: 1px solid #ccc; padding-bottom: 10px; font-size: 20px; color: white;">黑洞空间站</div>
        <div style="flex-grow: 1; word-wrap:break-word; word-break:break-all">
            <div style="font-size: 24px; text-align: center; margin: 36px 0; font-weight: bold">${title}</div>
            <p>${content}</p>
            <a href="${link}" style="color: white">点此链接查看</a>
        </div>
        <div style="font-size: 14px; text-align: center; padding-top: 10px; margin-top: 20px; color: #ccc; border-top: 1px solid #ccc">此邮件由黑洞空间站自动发送，请勿回复此邮件。若有疑问，可向 <a href="mailto:${admin}" style="color: white">管理员</a> 发送邮件。</div>
    </div>
</div>
</body>
</html>